/*MIXINS*/
/*NAV*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 130px;
  width: 80%;
  margin: auto; }
  .navbar__container {
    background: #000; }
  .navbar__logo {
    width: 100px; }
  .navbar__items {
    display: flex;
    list-style: none;
    gap: 30px; }
    @media screen and (max-width: 769px) {
      .navbar__items {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        top: 0;
        right: 0;
        background-color: #000;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        border: none;
        gap: 70px;
        transition: all 1s; } }
  .navbar__item {
    border-right: 1px solid #fff;
    width: 80px; }
    @media screen and (max-width: 769px) {
      .navbar__item {
        border: none;
        width: auto; } }
  .navbar__link {
    text-decoration: none;
    color: #fff; }
  .navbar__menu-open {
    display: none;
    width: 40px;
    cursor: pointer; }
    @media screen and (max-width: 769px) {
      .navbar__menu-open {
        display: block; } }
  .navbar__menu-close {
    display: none;
    width: 40px;
    cursor: pointer; }
    @media screen and (max-width: 769px) {
      .navbar__menu-close {
        display: block; } }

.visible {
  opacity: 1;
  visibility: visible; }

/*GRID 1*/
.grid__title {
  text-align: center;
  font-size: 28px;
  margin: 50px 0 70px;
  color: red; }

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 200px;
  gap: 15px; }
  @media screen and (max-width: 800px) {
    .grid__container {
      grid-template-columns: 1fr 1fr;
      margin: auto; } }
  @media screen and (max-width: 500px) {
    .grid__container {
      grid-template-columns: 1fr;
      margin: auto; } }

.grid__img-container {
  margin: auto; }

.grid__img {
  border-radius: 100px; }

.template-title {
  text-align: center;
  margin-top: 40px;
  font-size: 28px; }

/*SLIDER*/
.swiper {
  width: 80%;
  height: 300px; }
  .swiper-slide {
    text-align: center; }
  .swiper__title {
    text-align: center;
    margin: 50px 0;
    font-size: 28px;
    color: red; }

/*COLUMNS*/
.columns {
  margin: 0 250px; }
  @media screen and (max-width: 1120px) {
    .columns {
      margin: 0 150px; } }
  .columns__firts-title {
    font-size: 28px;
    color: red;
    margin: 50px 0;
    text-align: center; }
  .columns__banner-container {
    background: grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .columns__banner {
    font-size: 18px; }
  .columns__form {
    background: darkgrey;
    text-align: end; }
    .columns__form-title {
      font-size: 18px;
      text-align: start; }
    .columns__form-input {
      border: 1px solid #000;
      margin: 5px 0;
      padding: 5px 0;
      width: 99%; }
  .columns__system {
    position: relative; }
  .columns__menu {
    position: relative; }
  .columns__items {
    background-color: grey;
    position: fixed;
    top: 80%;
    opacity: 0;
    padding: 20px;
    border-radius: 20px; }
    @media screen and (max-width: 1200px) {
      .columns__items {
        left: 5px; } }
  .columns__star::before {
    content: url(../img/star.gif); }

.menu-op {
  opacity: 1; }

/*GRID 2*/
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px; }
  @media screen and (max-width: 992px) {
    .grid2 {
      grid-template-columns: 1fr 1fr; } }
  .grid2__box {
    background: darkgrey;
    height: 250px; }

.cuadricula__title {
  font-size: 28px;
  text-align: center;
  color: red;
  margin: 50px; }

.cuadricula__container {
  margin: 0 240px; }

.c1 {
  grid-column: 1/4; }
  @media screen and (max-width: 992px) {
    .c1 {
      grid-column: 1/2; } }

.c3 {
  grid-column: 1/3; }
  @media screen and (max-width: 992px) {
    .c3 {
      grid-column: 1/2; } }

@media screen and (max-width: 992px) {
  .c5 {
    grid-column: 1/2; } }

/*FOOTER*/
.footer {
  display: flex;
  background: #000;
  justify-content: space-around;
  align-items: center;
  height: 155px;
  margin-top: 50PX; }
  .footer__logo {
    width: 150px;
    position: absolute;
    top: -137px; }
  .footer__logo-container {
    position: relative; }
  .footer__text {
    color: #fff;
    font-size: 18px; }
